Repository verzola/wp-base-theme: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

create prettier config file and reformat code
  .prettierrc.json
  src/js/index.js
  src/scss/abstracts/_functions.scss
  src/scss/abstracts/_variables.scss
  src/scss/base/_helpers.scss
  src/scss/main.scss
  src/scss/postcss.config.js
  webpack.config.js
Due: eslint --fix, prettier --write

update lock
  yarn.lock
Due: none

update bass and lock
  package.json
  yarn.lock
Due: prettier --write

remove @verzola/bass package and add each package used
  package.json
  yarn.lock
Due: prettier --write

update packages and fix webpack.config.js
  package.json
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

update packages, generate package-lock.json and delete yarn.lock
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

remove unused packages
  package-lock.json
  package.json
Due: prettier --write

override browsersync config with env vars
  webpack.config.js
Due: eslint --fix, prettier --write

move rc configs to package.json
  .browserlistrc
  .eslintrc.json
  .huskyrc.json
  .lintstagedrc
  .prettierrc.json
  .stylelintrc.json
  package.json
Due: prettier --write

remove 404, archive, page, sidebar, single and screenshot files
  404.php
  archive.php
  functions.php
  page.php
  screenshot.png
  sidebar.php
  single.php
Due: none

cleanup style
  src/scss/abstracts/_functions.scss
  src/scss/abstracts/_mixins.scss
  src/scss/abstracts/_variables.scss
  src/scss/base/.gitkeep
  src/scss/base/_base.scss
  src/scss/components/_article.scss
  src/scss/components/_button.scss
  src/scss/components/_offcanvas.scss
  src/scss/layout/.gitkeep
  src/scss/layout/_header.scss
  src/scss/main.scss
  src/scss/pages/_404.scss
Due: prettier --write

update dependencies
  package-lock.json
  package.json
Due: prettier --write

enqueue script in footer
  functions.php
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,json,scss,html,md}
